﻿@page "/about"

<h1>About</h1>

<p>My name is Matt King but you can find me pretty much anywhere is MattKingIT. 
    I consider myself primarily a programmer but have been a database administrator, server administrator, SCCM administrator and Genetec Administrator.
    I primarily programmed in the .NET languages ASP.NET, C#, F# and Visual Basic but have also done a lot of web programming languages.  I've dabbled in Java, Python, Ruby, Go and several scripting languages.
    I'm currently working on Blazor projects and some Xamarin on the side.
    I am also currently working on getting my Mulesoft Developer Certification.</p>

    <p>I blog about several subject including technology and professional wrestling. I've been a fan of wresting since I was 14 and still love attending wrestling events.</p>

    <p>Please feel free to also visit my other pages.
        <ul>
            <li><a href="https://github.com/mattkingit" target="_blank">Github</a></li>
            <li><a href="https://www.credly.com/users/matthew-king.e33fd382" target="_blank">Certification Portal</a></li>
            <li><a href="https://www.linkedin.com/in/mattkingit" target="_blank">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/mattkingit" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/mattkingit" target="_blank">Twitter</a></li>
            <li><a href="https://www.instagram.com/mattkingit/" target="_blank">Instagram</a></li>
            <li><a href="https://www.mattkingit.com/blog">Blog</a></li>
        </ul>
    </p>

@code {

}
