﻿@using MattKingITBlazorApp.Data.CategorySection
@using MattKingITBlazorApp.Services.CategorySection
@inject ICategoryService categoryService

@page "/blog"

<h3>Blog</h3>

@if (Categories != null)
{
    <div class="categories">
        <ul class="nav flex-column">
            @foreach (var category in Categories)
            {
                <li class="nav-item px-3"><a href="/blog/@category.Id">@category.Name</a></li>
}
        </ul>
    </div>}

@code
{

    public IEnumerable<Category> Categories { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        Categories = await categoryService.GetAllAsync();

        await base.OnParametersSetAsync();
    }
}
