@page "/employment"

<div id="Employment">
    <h2>Employment</h2>
    <section id="Navy">
        <h2>United States Navy</h2>
        <img src="img\usn.png" height="50" width="50" alt="US Navy Seal" />
        <h3>Operations Specialist</h3>
        <img src="img/os.png" height="50" width="50" alt="Operation Specialist Logo" />
        <p>
            <h4>Units</h4>
            <ul>
                <li>RTC Great Lakes, Great Lakes IL (1990)</li>
                <figure>
                    <img src="img\rtc.jpg" width="100" height="150" alt="Official Bootcamp Photo" />
                    <figcaption>Recruite Training Center photo</figcaption>
                </figure>
                <li>OS "A" School - Dam Neck, VA (1990)</li>
                <figure>
                    <img src="img\osa1.jpg" height="100" width="200" alt="OS A School" />
                    <figcaption>OS "A" School</figcaption>
                </figure>
                <li>USS Chandler DDG-996 - San Diego, CA (1990 - 1994)</li>
                <figure>
                    <img src="img/ddg996.jpg" width="200px" height="100px" alt="USS Chandler DDG-996" />
                    <figcaption>USS Chandler DDG-996</figcaption>
                </figure>
                <h4 class="duties">Assignments/Recalls</h4>
                <ul>
                    <li>USS Lewis B. Puller FFG-23</li>
                    <figure>
                        <img src="img/ffg23.jpg" width="200px" height="100" alt="USS Lewis B Puller FFG-23" />
                        <figcaption>USS Lewis B Puller FFG-23</figcaption>
                    </figure>
                </ul>
                <h4 class="awards">Awards</h4>
                    <ul class="awards">
                        <li>
                            <img src="img/08_ndsmr.png" width="50px" height="20px" alt="National Defense Service Medal" /> National Defense Service Medal (1990 - 1
                            <sup>st</sup>)
                        </li>
                        <li>
                            <img src="img/10_swasmr.png" width="50px" height="20px" alt="South West Asian Service Medal" /> Southwest Asia Service Medal w/ Bronze Start (1991 - 1
                            <sup>st</sup>)
                        </li>
                        <li>
                            <img src="img/10_swasmr.png" width="50px" height="20px" alt="South West Asian Service Medal" /> Southwest Asia Service Medal w/ Bronze Start (1992 - 2
                            <sup>nd</sup>)
                        </li>
                        <li>
                            <img src="img/14_nssdr.png" width="50px" height="20px" alt="Navy Sea Service Deployment Ribbon" /> Sea Service Deployment Ribbon (1992 - 1
                            <sup>st</sup>)
                        </li>
                        <li>
                            <img src="img/05_navye.png" width="50px" height="20px" alt="Navy Battle E" /> Navy Battle "E" (1993)
                        </li>
                        <li>
                            <img src="img/06_ngcmr.png" width="50px" height="20px" alt="Navy Good Conduct Medal" /> Navy Good Conduct Medal (1993)
                        </li>
                        <li>
                            <img src="img/09_afemr.png" width="50px" height="20px" alt="Armed Forces Expeditionary Medal" /> Armed Forces Expeditionary Medal (1993)
                        </li>
                        <li>
                            <img src="img/14_nssdr.png" width="50px" height="20px" alt="Navy Sea Service Deployment Ribbon" /> Sea Service Deployment Ribbon (1993 - 2
                            <sup>nd</sup>)
                        </li>
                        <li>
                            <img src="img/18_klmsr.png" width="50px" height="20px" alt="Kuwait Liberation Medal Saudi" /> Kuwait Liberation Medal - Saudi (1994)
                        </li>
                        <li>
                            <img src="img/19_klmkr.png" width="50px" height="20px" alt="Kuwait Liberation Medal Kuwait" /> Kuwait Liberation Medal - Kuwait (1994)
                        </li>
                    </ul>
                <div id="shellback">
                    <img src="img/shellback.png" width="75px" height="75px" alt="Order of Shellback Patch" /> Shellback Certificate (March 1992)
                </div>

                <br/>
                <li>NR NWS Yorktown - NMCRC Cincinnati, OH (1990-1997)</li>
                <li>NR NWS Concord - NMCRC Cincinnati, OH (1997-1998)</li>
                <h4 class="duties">Assignments/Recalls</h4>
                <ul>
                    <li>USS John A Moore FFG-19 (June/July 1995)</li>
                    <figure>
                        <img src="img/ffg19.jpg" height="100" width="200" alt="USS John A Moore FFG 19" />
                        <figcaption>USS John A Moore FFG-19</figcaption>
                    </figure>
                </ul>
                <h4 class="awards">Awards</h4>
                <ul class="awards">
                    <li>
                        <img src="img/07_nrmsmr.png" width="50px" height="20px" alt="Navy Reserve Meritorious Service Medal" /> Navy Reserve Meritorious Service Medal (1996 - 1
                        <sup>st</sup>)
                    </li>
                </ul>
                <br/>
                <li>NR USS Inchon MCS/LPH-12 - NMCRC San Antonio, TX (1998 - 2000)</li>
                <figure>
                    <img src="img/mcs12.jpg" width="200" height="100" alt="USS Inchon MCS 12" />
                    <figcaption>USS Inchon MCS-12</figcaption>
                </figure>
                <h4 class="duties">Assignments/Recalls</h4>
                <ul>
                    <li>USS Inchon MCS-12 (May/June 1999)</li>
                    <img src="img/inchon.png" width="100px" height="100px" alt="USS Inchon Logo" />
                    <li>Navy Leadership School (OS2), Alameda, CA (June 2000)</li>
                </ul>
                <h4 class="awards">Awards</h4>
                <ul class="awards">
                    <li>
                        <img src="img/07_nrmsmr.png" width="50px" height="20px" alt="Navy Reserve Meritorious Service Medal" /> Navy Reserve Meritorious Service Medal (1999 - 2
                        <sup>nd</sup>)
                    </li>
                    <li>
                        <img src="img/05_navye.png" width="50px" height="20px" alt="Navy Battle E" /> Navy Battle "E" (1999 - 2
                        <sup>nd</sup>)
                    </li>
                    <li>
                        <img src="img/04_nucr.png" width="50px" height="20px" alt="Navy Unit Commendation" /> Navy Unit Commendation (1999)
                    </li>
                    <li>
                        <img src="img/03_jucr.png" width="50px" height="20px" alt="Joint Meritorious Unit Award" /> Joint Meritorious Unit Award (1999)
                    </li>
                    <li>
                        <img src="img/11_kosovor.png" width="50px" height="20px" alt="Kosovo Campaign Medal" /> Kosovo Campaign Medal (1999)
                    </li>
                </ul>
                <br/>
                <li>NR CINCUSNAVEUR - NMCRC Tallahassee, FL (2000-2002)</li>
                <h4 class="duties">Assignments/Recalls</h4>
                <ul>
                    <li>USS Samuel E Morison FFG-13 (March 2001)</li>
                    <figure>
                        <img src="img/ffg13.jpg" width="200" height="100" alt="USS Samuel E Morison FFG-13" />
                        <figcaption>USS Samuel E Morison FFG-13</figcaption>
                    </figure>
                    <li>Joint Interagency Task Force East (JIATFE), Key West, FL (July 2001)</li>
                    <img src="img/jiatf.png" width="100" height="100" alt="Joint Interagency Task Force Sourth" />
                    <li>USS John F Kennedy CV-67 (July 2001)</li>
                    <figure>
                        <img src="img/cv67.jpg" height="100" width="200" alt="USS John F Kennedy CV 67" />
                        <figcaption>USS John F Kennedy CV-67</figcaption>
                    </figure>
                    <li>CINCUSNAVEUR, London, UK (April 2002)</li>
                    <img src="img/cincusnaveur.jpg" width="100" height="100" alt="Commander in Chief Naval Forces Europe" />
                </ul>
                <h4 class="awards">Awards</h4>
                <ul class="awards">
                    <li>
                        <img src="img/07_nrmsmr.png" width="50px" height="20px" alt="Navy Reserve Meritorious Service Medal" /> Navy Reserve Meritorious Service Metal (2002 - 3
                        <sup>rd</sup>)
                    </li>
                    <li>
                        <img src="img/21_pistolr.png" width="50px" height="20px" alt="Pistol Sharp Shooter Ribbon" /> 9mm Sharp Shooter Ribbon (2002 - 1
                        <sup>st</sup>)</li>
                </ul>
                <br/>
                <li>NR USS Klakring FFG-42 (2002-2003)</li>
                <figure>
                    <img src="img/ffg42.jpg" width="200" height="100" alt="USS Klakring FFG-42" />
                    <figcaption>USS Klakring FFG-42</figcaption>
                </figure>
                <h4 class="duties">Assignments/Recalls</h4>
                <ul>
                    <li>USS Constitution, Boston, MA (August 2002)</li>
                    <figure>
                        <img src="img/const.jpg" width="200" height="100" alt="USS Constitution" />
                        <figcaption>USS Constitution (Old Iron Sides)</figcaption>
                    </figure>
                    <li>USS Klakring FFG-42 (January 2003)</li>
                    <img src="img/klakring.png" width="100" height="120" alt="USS Klakring Logo" />
                </ul>
                <li>Sealift Logistics Command/Military Sealift Command/CTF-53 - NMCRC Tampa, FL (2003 - 2012)</li>
                <figure>
                    <img src="img/MSC.jpg" width="100" height="100" alt="Military Sealift Command" />
                    <figcaption>Military Sealift Command</figcaption>
                </figure>
                <h4 class="duties">Assignments/Recalls</h4>
                <ul>
                    <li>Navy Leadership School (OS1), Coronado, CA (July 2004)</li>
                    <li>COMSCCENT Bahrain (August 2003, March 2005, May/June 2006, August 2008)</li>
                    <img src="img/MSCCentBahrain.jpg" width="100" height="100" alt="Military Sealift Command Central Bahrain" />
                    <li>MSCO Kuwait, Kuwait Naval Base (October 2006)</li>
                    <img src="img/knbTentCity.jpg" width="200" height="150" alt="Me at Kuwait Naval Base" />
                    <li>NRD Miami, FL (January - October 2007)</li>
                    <img src="img/nrdmiami.jpg" width="200" height="150" alt="James and I at NRD Miami" />
                    <li>Command Strike Force Training Atlantic (CSFTL) - USS Theodore Roosevelt CVN-71 (May 2008)</li>
                    <img src="img/csftla.jpg" width="100" height="100" alt="Command Strike Force Training Atlantic Logo" />
                    <li>CNEC6F//CNA, Naples, Italy (October 2008 - April 2009)</li>
                    <img src="img/cne.jpg" width="100" height="100" alt="Commander Naval Forces Europe" />
                    <img src="img/c6f.jpg" width="100" height="100" alt="Commander 6<sup>th</sup> Fleet" />
                    <img src="img/cna.jpg" width="100" height="100" alt="Commander Naval Forces Africa" />
                    <li>Austere Challenge 09 - USS Mount Whitney LCC 20 (2009)</li>
                    <figure>
                        <img src="img/lcc20.jpg" width="200" height="100" alt="USS Mount Whitney - LCC 20" />
                        <figcaption>USS Mount Whitney LCC-20</figcaption>
                    </figure>
                </ul>
                <h4 class="awards">Awards</h4>
                <ul class="awards">
                    <li>
                        <img src="img/21_pistolr.png" width="50px" height="20px" alt="Pistol Sharp Shooter Ribbon" /> Sharp Shooter Pistol (9mm) Ribbon (2004 - 2
                        <sup>nd</sup>, 2011 - 3
                        <sup>rd</sup>)
                    </li>
                    <li>
                        <img src="img/20_rifler.png" width="50px" height="20px" alt="Rifle Sharp Shooter Ribbon" /> Sharp Shooter Rifleman Ribbon (2006)</li>
                    <li>
                        <img src="img/07_nrmsmr.png" width="50px" height="20px" alt="Navy Reserve Meritorious Service Medal" /> Navy Reserve Service Medal (2005 - 4
                        <sup>th</sup>, 2008 - 5
                        <sup>th</sup>)
                    </li>
                    <li>
                        <img src="img/02_namr.png" width="50px" height="20px" alt="Navy and Marine Corp Achievement Medal" /> Navy and Marine Corps Achievement Medal (2007)
                    </li>
                    <li>
                        <img src="img/12_gwoter.png" width="50px" height="20px" alt="Global War on Terrorism Expeditionary Medal" /> Global War on Terrorism Expeditionary Medal (2008)
                    </li>
                    <li>
                        <img src="img/13_gwotsr.png" width="50px" height="20px" alt="Global War on Terrorism Service Medal" /> Global War on Terrorism Service Medal (2008)
                    </li>
                    <li>
                        <img src="img/16_nrossr.png" width="50px" height="20px" alt="Navy/Marine Corp Overeseas Servie Ribbon" /> Navy/Marine Corp Overseas Service Ribbon (2008)
                    </li>
                    <li>
                        <img src="img/17_afrmr.png" width="50px" height="20px" alt="Armed Forces Reserve Medal" /> Armed Forces Reserve Medal w/ Bronze Hour Glass (2009)
                    </li>
                    <li>
                        <img src="img/08_ndsmr.png" width="50px" height="20px" alt="National Defense Service Medal" /> National Defense Service Medal (2
                        <sup>nd</sup>)
                    </li>
                    <li>
                        <img src="img/10_swasmr.png" width="50px" height="20px" alt="South West Asia Service Medal" /> Southwest Asia Service Medal w/ Bronze Start (3
                        <sup>rd</sup>)
                    </li>
                    <li>
                        <img src="img/01_ncomr.png" width="50px" height="20px" alt="Navy/Marine Corp Commendation Medal" /> Navy/Marine Corp Commendation Medal (2012)</li>
                </ul>
            </ul>
            <figure class="medals">
                <img src="img/AllRibbonsLrg.png" height="200px" width="300px" alt="All Ribbons on Rack" />
                <br/>
                <img src="img/01_ncomm.png" height="75px" width="34px" alt="Navy Commendatation Medal" />
                <img src="img/02_namm.png" height="75px" width="34px" alt="Navy Achievement Medal" />
                <img src="img/06_ngcm.png" height="75px" width="34px" alt="Navy Good Conduct Medal" />
                <img src="img/07_nrmsm.png" height="75px" width="34px" alt="Navy Reserve Meritorious Service Medal" />
                <img src="img/08_ndsm.png" height="75px" width="34px" alt="National Defense Service Medal" />
                <img src="img/09_afem.png" height="75px" width="34px" alt="Armed Forces Expeditionary Medal" />
                <img src="img/10_swasm.png" height="75px" width="34px" alt="Southwest Asia Service Medal" />
                <img src="img/11_kosovo.png" height="75px" width="34px" alt="Kosovo Campaign Medal" />
                <br>
                <img src="img/12_gwotem.png" height="75px" width="34px" alt="Global War on Terrorism Expeditionary Medal" />
                <img src="img/13_gwotsm.png" height="75px" width="34px" alt="Global War on Terrorism Service Medal" />
                <img src="img/17_afrm.png" height="75px" width="34px" alt="Armed Forces Reserve Medal" />
                <img src="img/18_klmsm.png" height="75px" width="34px" alt="Kuwaiti Liberation Medal - Saudi Arabia">
                <img src="img/19_klmk.png" height="75px" width="34px" alt="Kuwaiti Liberation Medal - Kuwait" />
                <img src="img/20_riflem.png" height="75px" width="34px" alt="M16 Expert Rifle" />
                <img src="img/21_pistolm.png" height="75px" width="34px" alt="9mm Expert Pistol" />
                <figcaption>My Ribbons and Medals</figcaption>
            </figure>
        </p>
    </section>
    <section id="City" class="city department job">
        <h2>City of Tampa</h2>
        <img src="img/cot.png" height="50" width="50" alt="City of Tampa Logo" />
        <ul>
            <li>Human Resources/Employment Services</li>
            <ul>
                <li>Office Support Specialist II/III</li>
                <li>Personnel Technician II</li>
            </ul>
            <li>Transportation</li>
            <ul>
                <li>Transportation Technician II</li>
            </ul>
            <li>Water</li>
            <ul>
                <li>Departmental Applications Systems Analyst</li>
            </ul>
            <li>Technology & Innovation</li>
            <ul>
                <li>Applications Systems Analyst - Business Analyst</li>
                <li>Applications Systems Analyst - Database Administrator</li>
                <li>Senior Applications Programmer Analyst - SCCM/Systems Administrator</li>
            </ul>
        </ul>
    </section>
</div>

@code {

}
