@page "/hobbies"

<div id="Hobbies">
            <h2>Hobbies</h2>
            <section id="Wrestling">
                <h2>Professional Wrestling</h2>
                <figure>
                    <img src="img/meBush.jpg" height="150" width="200" alt="Luke, Joey, Me and Butch (The Bushwackers)" />
                    <figcaption>Me, Joey Mann, Luke and Butch from the Bushwakers/Sheep Herders</figcaption>
                </figure>
                <figure>
                    <img src="img/jakeDDP.jpg" height="150" width="200" alt="Jake The Snake Roberts, me and DDP" />
                    <figcaption>Jake "The Snake" Roberts, me, and "Diamond" Dallas Page at 'The Resurrection'</figcaption>
                </figure>
                <figure>
                    <img src="img/meTodd.jpg" height="150" alt="Me and Todd Shane from Gymini" />
                    <figcaption>Me and Todd Shayne from Gymini</figcaption>
                </figure>
                <figure>
                    <img src="img/meKO.jpg" height="150" alt="Me Dressed up as Kevin Owens" />
                    <figcaption>My spin on Kevin Owens for Halloween</figcaption>
                </figure>
                <figure>
                    <img src="img/meNXT.jpg" height="150" width="120" alt="Me at NXT Tampa" />
                    <figcaption>Me at NXT Tampa</figcaption>
                </figure>
                <figure>
                    <img src="img/pc.jpg" height="150" width="120" alt="Me at the WWE Performance Center " />
                    <figcaption>Me at the WWE Performance Center - Sept 2015</figcaption>
                </figure>
                <figure>
                    <img src="img/cabrewCrew1.jpg" height="150" width="200" alt="Me, Jeff and Johnny at FIP (2019)" />
                    <figcaption>Me, Jeff and Johnny at FIP - In Full Force 2019</figcaption>
                </figure>
                <figure>
                    <img src="img/cabrewCrew2.jpg" height="150" width="240" alt="Me, Jeff and Johnny at FIP (2020)" />
                    <figcaption>Me, Jeff and Johnny at FIP - Everything Burns 2020</figcaption>
                </figure>
                <figure>
                    <img src="img/meKids_w001.jpg" height="150" width="200" alt="Me and McKenna at Independent Show" />
                    <figcaption>Me and McKenna at Independent Show</figcaption>
                </figure>
            </section>
                <h3>CWF (Championship Wrestling of Florida)Legends Fanfest</h3>
                <figure>
                    <img src="img/billAlfonso2.jpg" height="150" width="120" alt="Me at Bill Alfonso" />
                    <figcaption>Me and Bill Alfonso at CWF Legendgs Fanfest</figcaption>
                </figure>
                <figure>
                    <img src="img/billAlfonso1.jpg" height="150" width="120" alt="Me at Bill Alfonso" />
                    <figcaption>Me and Bill Alfonso at CWF Legendgs Fanfest</figcaption>
                </figure>
                <figure>
                    <img src="img/LarryZybsko01.jpg" height="150" width="120" alt="Me at Larry Zybsko" />
                    <figcaption>Me and Larry Zybsko at CWF Legendgs Fanfest</figcaption>
                </figure>
                <h3>NXT</h3>
                <figure>
                    <img src="img/nxtMG002.jpg" height="150" width="120" alt="Raquel Gonzalea, McKenna and Rhea Ripley" />
                    <figcaption>Raquel Gonzalea, McKenna and Rhea Ripley at the Tampa Bay Rays game</figcaption>
                </figure>
                <figure>
                    <img src="img/nxtMG001.jpg" height="150" width="120" alt="Me with Brennan Williams, Candice LaRae and Raul Mendoza" />
                    <figcaption>Me with Brennan Williams, Candice LaRae and Raul Mendoza - Feb 2018</figcaption>
                </figure>
                <figure>
                    <img src="img/EC3.jpg" height="150" width="120" alt="Me with EC3 (2018)" />
                    <figcaption>Me and EC3 - May 2018</figcaption>
                </figure>
                <h3>Impact Wrestling</h3>
                <h3>Independents</h3>
                <h4>FIP</h4>
                <h4>IPW Hardcore</h4>
                <h4>Evolve</h4>
                <h4>ACW (American Combat Wrestling)</h4>
                <h4>Shine Wrestling</h4>
                <h4>GCW (Good Chronic Wrestling)</h4>
                <h4>GCW (Game Changer Wrestling)</h4>
                <h4>Punk Pro Wrestling</h4>
                <h4>No Peace Underground</h4>
                <h4>Fest Wrestling</h4>
                <h4>TCW (Thunder Championship Wrestling)</h4>
                <h4>ICW ()</h4>
                <h4>Tampa Bay Pro Wrestling</h4>
                <h3>WrestleMania 37 Week - Showcase of the Independents</h3>
                <figure>
                    <img src="img/sienna001.jpg" height="150" width="120" alt="Me with Allysin Kay (Sienna)" />
                    <figcaption>Me with Allysin Kay (Sienna)</figcaption>
                </figure>
                <figure>
                    <img src="img/wmweek001.jpg" height="150" width="120" alt="Me at ICW Hardcore" />
                    <figcaption>Me with Allysin Kay (Sienna)</figcaption>
                </figure>
            <section>

            </section>
            <section id="Movies">
                <h2>Movies & Music</h2>
                <figure>
                    <img src="img/meVespaFar.jpg" height="150" width="120" alt="My and Princess Vespa from Space Balls (Daphne Zuniga)" />
                    <figcaption>Me and Daphne Zuniga (Princess Vespa) at 'Space Balls The Movie'</figcaption>
                </figure>
                <figure>
                    <img src="img/NitaStrauss.jpg" height="150" width="200" alt="Nita Strauss and Angel Vivaldi" />
                    <figcaption>Nita Strauss, Me and Angel Vivaldi at the Crowbar</figcaption>
                </figure>
                <figure>
                    <img src="img/tesla02.jpg" height="120" width="215" alt="Tesla" />
                    <figcaption>Me with Tesla at the House of Blues Orlando</figcaption>
                </figure>
                <figure>
                    <img src="img/tiffany01.jpg" height="150" width="120" alt="Tiffany" />
                    <figcaption>Me with Tiffany at the Reilly Arts Center</figcaption>
                </figure>
                <figure>
                    <img src="img/alimorgan.jpg" height="150" width="120" alt="Ali Morgan" />
                    <figcaption>Me with Ali Morgan at the Reilly Arts Center</figcaption>
                </figure>
            </section>
            <section id="Tech">
                <h2>Technology</h2>
                <img src="img/meMayor.jpg" height="150" width="100" alt="Me and Mayor Buckhorn at Tampa Code Camp" />
                <img src="img/meBlain.jpg" height="150" width="100" alt="Me and Blain Barton" />
                <img src="img/mePosh.jpg" height="150" width="100" alt="Me and 'The Scripting Guy' Ed Wilson" />
                <img src="img/milFalc.jpg" height="150" width="100" alt="Me and the Millineum Falcon at SQL BI" />
                <img src="img/xamDD.jpg" height="150" width="200" alt="Xamarin Dev Days" />
                <img src="img/xamCake.jpg" height="150" width="180" alt="Xamarin Birthday Cake" />
                <img src="img/xamBD.jpg" height="150" width="180" alt="Xamarin Birthday Cake" />
                <h3>Favorite Blogs</h3>
                <ul>
                    <li>
                        <a href="https://www.hanselman.com/blog/">Scott Hanselman</a>
                    </li>
                    <li>
                        <a href="https://simpleprogrammer.com/">John Sonmez - The Simple Programmer</a>
                    </li>
                </ul>
            </section>
        </div>

@code {

}
