﻿@page "/"

<h1>Welcome to my MattKingIT page built with Blazor</h1>

<p>This is currently a work in progress. Please feel free to peruse or follow some of my links below.</p>

<ul>
    <li><a href="https://github.com/mattkingit" target="_blank">Github</a></li>
    <li><a href="https://www.credly.com/users/matthew-king.e33fd382" target="_blank">Certification Portal</a></li>
    <li><a href="https://www.linkedin.com/in/mattkingit" target="_blank">LinkedIn</a></li>
    <li><a href="https://www.facebook.com/mattkingit" target="_blank">Facebook</a></li>
    <li><a href="https://twitter.com/mattkingit" target="_blank">Twitter</a></li>
    <li><a href="https://www.instagram.com/mattkingit/" target="_blank">Instagram</a></li>
    <li><a href="https://www.mattkingit.com/blog">Blog</a></li>
</ul>
