@page "/"

<header>
    <div class="banner">
        <h1>Matthew King</h1>
        <figure>
            <img src="img/meCBCat.jpg" height="100" width="100" alt="Me in my Cincinnati Bearcat ballcap" class="center" />
            <figcaption>Me</figcaption>
        </figure>
        <h3 id="quote">"Be Excellent to Each Other and ... Party on Dudes! - "Bill and Ted's Excellent Adventures</h3>
    </div>
    <div id="early">
        <p>
            My name is Matt King and I've been involved with computers and programming since the summer of 1984. Prior to my 8th grade
            when I went to Cincinnati with my cousins to Computer Camp at
            <a href="http://www.msj.edu/">Mount St. Joseph University</a>. My first Program was in BASIC on an Atari Computer and on a 5
            <sup>1/4</sup> inch floppy disk.
        </p>
        <figure>
            <img src="http://oldcomputers.net/pics/atari800-810-820.jpg" width="150" height="100" alt="Atari 800 Computer" />
            <figcaption>Atari 800 Computer courtesy of oldcomoputers.net</figcaption>
        </figure>
        <figure>
            <img src="img/floppy5.jpg" height="100" alt="5 <sup>1/4</sup> inch floppy" />
            <figcaption>5
                <sup>1/4</sup> inch floppy disk</figcaption>
        </figure>
    </div>
    <div id="earlyEmployment">
        <p>
            Since then I've worked with computers primarily in the
            <a href="http://www.navy.mil">US Navy</a> as an
            <a href="https://www.navycs.com/navy-jobs/operations-specialist.html">Operations Specialist</a> (OS) and at the
            <a href="http://www.tampagov.net">City of Tampa</a> as an Applications Systems Analyst and Senior Programmer Analyst. In between I've worked doing
            several jobs as a developer/programmer at
            <a href="http://www.ersgroup.com/">Economic Research Services (ERS Group)</a>,
            <a href="https://www.akingump.com/en/index.html">Akin Gump Strauss Hauer and Feld LLP</a> and
            <a href="https://www.usaajobs.com/">United States Automobile Association (USAA)</a>. I am currently working for the US Army as a Systems Programmer.
        </p>
    </div>
    <div id="earlyEducation">
        <p>
            I majored in Computer Science, Computer Programming, Information Technology and Data Science at several schools including
            <a href="http://xavier.edu">Xavier University</a> (Pascal),
            <a href="http://uc.edu">University of Cincinnati</a> (C++, Mathematica, Fortran, LISP, Prolog),
            <a href="http://utsa.edu">University of Texas at San Antonio</a> (C, Java),
            <a href="http://alamo.edu/sac">San Antonio College</a> (Visual Basic, Unix scripting),
            <a href="http://www.tcc.fl.edu">Tallahassee Community College</a> (Visual Basic, Java),
            <a href="http://www.hccfl.edu">Hillsborough Community College </a>(Web Development, Perl, PHP, mySQL) and
            <a href="http://www.usf.edu">University of South Florida</a> (C#, Java, Python, Technical Writing).
        </p>
    </div>
    <div id="proDev">
        <p>
            I also spend a lot of my time taking various
            <a href="https://en.wikipedia.org/wiki/Massive_open_online_course">MOOC </a>courses via
            <a href="http://coursera.org">Coursera.org</a>
            and
            <a href="edx.org">EdX.org</a> in particular the Data Science and Programming fields so I can keep my skills somewhat fresh. I attend
            several meetups in the Tampa Bay and Orlando areas, as well as, annual Code Camps, SQL Saturdays, IT Pro Camps,
            Xamarin Dev Days and Hackathons. I also try to blog about technology on my
            <a href="http://mattkingit.com/blogs">Matt King IT</a> website I created with WordPress.
        </p>
    </div>
    <div id="hobbies">
        <p>
            Aside from computers I really enjoy professional wrestling and going to the movies. Some of my favorite wrestlers are "Mr.
            Perfect" Curt Hennig, "Ravishing" Rick Rude, "The Ultimate Warrior", Kevin Owens and "Macho Man" Randy Savage.
            Some of my favorite movies are "A Bronx Tale", "Bill & Ted's Excellent Adventures", "Back to the Future", "Dogma",
            "What's Eating Gilbert Grape","Natural Born Killers" and "Space Balls". I mostly prefer action movies but am
            not to picky, I just like to have that escape every now and then.
        </p>
    </div>
    <div id="techReview">
        <p>
            Oh yeah, I also did a Technical Review for Ken Doman's book
            <u>"Mastering ArcGIS Server Development with JavaScript"</u>. You can get the book on
            <a href="https://www.amazon.com/Mastering-ArcGIS-Server-Development-JavaScript/dp/1784396451">Amazon.com</a>
            or
            <a href="https://www.packtpub.com/application-development/mastering-arcgis-server-development-javascript">Packt Publishing</a> website.
            <figure>
                <img src="img/GISbook.jpg" height="150" width="100" alt="Mastering ArcGIS Server Development with JavaScript book" />
                <figcaption>
                    <u>"Mastering ArcGIS Server Development with JavaScript"</u> - Ken Dorman</figcaption>
            </figure>
        </p>
    </div>
</header>