﻿@page "/post/{id:int}"
@using MattKingITBlazorApp.Data.CategorySection
@using MattKingITBlazorApp.Data.PostSection
@using MattKingITBlazorApp.Services.CategorySection
@using MattKingITBlazorApp.Services.PostSection
@inject ICategoryService categoryService
@inject IPostService postService

<h3>PostPage</h3>

@if (Post != null)
{
    @if (Post.PostCategories != null)
    {
        <ul>
            @foreach (var postCategories in Post.PostCategories)
            {
                @if (postCategories.Category != null)
                {
                    <li><a href="/category/@postCategories.Category.Id">@postCategories.Category.Name</a></li>
                }
            }
        </ul>
    }

    <h3>@Post.Title</h3>
    <p>@Post.Published?.ToString("dddd d MMMM yyyy")</p>
    <p>@Post.Content</p>
}

@code {
    [Parameter]
    public virtual int? Id { get; set; }

    public virtual Post Post { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Id.HasValue)
        {
            Post = await postService.GetAsync(Id.Value);
        }

        await base.OnParametersSetAsync();
    }
}
