@page "/resume"

<div id="myLinks" class="row">
    <div id="github" class="col-md-1"><a href="https://github.com/mattkingit">GitHub</a></div>
    <div id="gitlab" class="col-md-1"><a href="https://gitlab.com/mattkingit">GitLab</a></div>
    <div id="linkedin" class="col-md-1"><a href="https://www.linkedin.com/in/mattkingit/">LinkedIn</a></div>
    <div id="twitter" class="col-md-1"><a href="https://www.twitter.com/mattkingit">Twitter</a></div>
    <div id="facebook" class="col-md-1"><a href="https://www.facebook.com/mattkingit">Facebook</a></div>
    <div id="instagram" class="col-md-1"><a href="https://www.instagram.com/mattkingit/">Instagram</a></div>
</div>


@code {

}
