@page "/skills"

<h3>Skills</h3>

<section class="skills section" id="skills">
      <h3 class="section__title"> Skillset </h3>
      <span class="section__subtitle"> My skillsets </span>

      <div class="skills__container container grid">
          <div class="row" id="skillset_container">

              <!-- Skill 1 -->
              <div class="skills__container-card">
                  <div class="card_skill shadow2">
                      <div class="imgBx">
                          <img src="assets/logos/html.svg" alt="HTML logo">
                      </div>
                      <div class="contentBx">
                          <h3> HTML </h3>
                      </div>
                  </div>
              </div>

              <!-- Skill 2 -->
              <div class="skills__container-card">
                  <div class="card_skill shadow2">
                      <div class="imgBx">
                          <img src="assets/logos/css.svg" alt="CSS logo">
                      </div>
                      <div class="contentBx">
                          <h3> CSS </h3>
                      </div>
                  </div>
              </div>

              <!-- Skill 3 -->
              <div class="skills__container-card">
                  <div class="card_skill shadow2">
                      <div class="imgBx">
                          <img src="assets/logos/javascript.svg" alt="JavaScript logo">
                      </div>
                      <div class="contentBx">
                          <h3> Javascript </h3>
                      </div>
                  </div>
              </div>


              <!-- Skill 4 -->
              <div class="skills__container-card">
                  <div class="card_skill shadow2">
                      <div class="imgBx">
                          <img src="assets/logos/bootstrap.svg" alt="Bootstrap logo">
                      </div>
                      <div class="contentBx">
                          <h3> Bootstrap </h3>
                      </div>
                  </div>
              </div>


              <!-- Skill 5 -->
              <div class="skills__container-card">
                  <div class="card_skill shadow2">
                      <div class="imgBx">
                          <img src="assets/logos/python.svg" alt="Python logo">
                      </div>
                      <div class="contentBx">
                          <h3> Python </h3>
                      </div>
                  </div>
              </div>
              
              <!-- Skill 5 -->
              <div class="skills__container-card">
                  <div class="card_skill shadow2">
                      <div class="imgBx">
                          <img src="assets/logos/django.svg" alt="Django logo">
                      </div>
                      <div class="contentBx">
                          <h3> Django </h3>
                      </div>
                  </div>
              </div>


              <!-- Skill 6 -->
              <div class="skills__container-card">
                  <div class="card_skill shadow2">
                      <div class="imgBx">
                          <img src="assets/logos/git.svg" alt="Git logo">
                      </div>
                      <div class="contentBx">
                          <h3> Git </h3>
                      </div>
                  </div>
              </div>


              <!-- Skill 7 -->
              <div class="skills__container-card">
                  <div class="card_skill shadow2">
                      <div class="imgBx">
                          <img src="assets/logos/github.svg" alt="Github logo">
                      </div>
                      <div class="contentBx">
                          <h3> Github </h3>
                      </div>
                  </div>
              </div>

              <!-- Skill 8 -->
              <div class="skills__container-card">
                  <div class="card_skill shadow2">
                      <div class="imgBx">
                          <img src="assets/logos/vscode.svg" alt="VS Code logo">
                      </div>
                      <div class="contentBx">
                          <h3> VS Code </h3>
                      </div>
                  </div>
              </div>

            <!-- Skill 8 -->
            <div class="skills__container-card">
                <div class="card_skill shadow2">
                    <div class="imgBx">
                        <img src="assets/logos/vstudio.svg" alt="Visual Studio logo">
                    </div>
                    <div class="contentBx">
                        <h3> Visual Studio </h3>
                    </div>
                </div>
            </div>

            <!-- Skill 9 -->
            <div class="skills__container-card">
                <div class="card_skill shadow2">
                    <div class="imgBx">
                        <img src="assets/logos/dotnet.svg" alt=".NET logo">
                    </div>
                    <div class="contentBx">
                        <h3> .NET </h3>
                    </div>
                </div>
            </div>

            <!-- Skill 9 -->
            <div class="skills__container-card">
                <div class="card_skill shadow2">
                    <div class="imgBx">
                        <img src="assets/logos/linux.svg" alt="Linux logo">
                    </div>
                    <div class="contentBx">
                        <h3> Linux </h3>
                    </div>
                </div>
            </div>

            <!-- Skill 9 -->
            <div class="skills__container-card">
                <div class="card_skill shadow2">
                    <div class="imgBx">
                        <img src="assets/logos/apache.svg" alt="Apache logo">
                    </div>
                    <div class="contentBx">
                        <h3> Apache </h3>
                    </div>
                </div>
            </div>

            <!-- Skill 9 -->
            <div class="skills__container-card">
                <div class="card_skill shadow2">
                    <div class="imgBx">
                        <img src="assets/logos/apacheTomcat.svg" alt="Apache Tomcat logo">
                    </div>
                    <div class="contentBx">
                        <h3> Apache Tomcat </h3>
                    </div>
                </div>
            </div>
            
            <!-- Skill 9 -->
            <div class="skills__container-card">
                <div class="card_skill shadow2">
                    <div class="imgBx">
                        <img src="assets/logos/mulesoft.svg" alt="Mulesoft logo">
                    </div>
                    <div class="contentBx">
                        <h3> Mulesoft </h3>
                    </div>
                </div>
            </div>

            <!-- Skill 9 -->
            <div class="skills__container-card">
                <div class="card_skill shadow2">
                    <div class="imgBx">
                        <img src="assets/logos/mysql.svg" alt="MySQL logo">
                    </div>
                    <div class="contentBx">
                        <h3> MySQL </h3>
                    </div>
                </div>
            </div>

            <!-- Skill 9 -->
            <div class="skills__container-card">
                <div class="card_skill shadow2">
                    <div class="imgBx">
                        <img src="assets/logos/powershell2.svg" alt="PowerShell logo">
                    </div>
                    <div class="contentBx">
                        <h3> PowerShell </h3>
                    </div>
                </div>
            </div>

            <!-- Skill 9 -->
            <div class="skills__container-card">
                <div class="card_skill shadow2">
                    <div class="imgBx">
                        <img src="assets/logos/wordpress.svg" alt="Wordpress logo">
                    </div>
                    <div class="contentBx">
                        <h3> Wordpress </h3>
                    </div>
                </div>
            </div>

              <!-- Skill 10 -->
              <div class="skills__container-card">
                  <div class="card_skill shadow2">
                      <div class="imgBx">
                          <img src="assets/logos/msoffice.svg" alt="Microsoft Office logo">
                      </div>
                      <div class="contentBx">
                          <h3> Office </h3>
                      </div>
                  </div>
              </div>

              <!-- Skill 11 -->
              <div class="skills__container-card">
                  <div class="card_skill shadow2">
                      <div class="imgBx">
                          <img src="assets/logos/sqlserver.svg" alt="SQL Server logo">
                      </div>
                      <div class="contentBx">
                          <h3> MS SQL Server </h3>
                      </div>
                  </div>
              </div>

              <!-- Skill 12 -->
              <div class="skills__container-card">
                <div class="card_skill shadow2">
                    <div class="imgBx">
                        <img src="assets/logos/sqlite.svg" alt="SQLite logo">
                    </div>
                    <div class="contentBx">
                        <h3> SQLite </h3>
                    </div>
                </div>
            </div>

              <!-- Skill 13 -->
              <div class="skills__container-card">
                  <div class="card_skill shadow2">
                      <div class="imgBx">
                          <img src="assets/logos/matlab.svg" alt="MatLab logo">
                      </div>
                      <div class="contentBx">
                          <h3> Mathematica </h3>
                      </div>
                  </div>
              </div>

              <!-- Skill 14 -->
              <div class="skills__container-card">
                <div class="card_skill shadow2">
                    <div class="imgBx">
                        <img src="assets/logos/genetec.png" alt="Genetec logo">
                    </div>
                    <div class="contentBx">
                        <h3> Genetec </h3>
                    </div>
                </div>
            </div>

              <!-- Skill 15 -->
              <div class="skills__container-card">
                  <div class="card_skill shadow2">
                      <div class="imgBx">
                          <img src="https://res.cloudinary.com/bjha/image/upload/v1627831743/skillset%20logos/autocad-logo-C9817CB828-seeklogo.com_mscdmi.png" alt="HTML logo">
                      </div>
                      <div class="contentBx">
                          <h3> AutoCAD </h3>
                      </div>
                  </div>
              </div>

              <!-- Skill 16 -->

              <div class="skills__container-card">
                <div class="card_skill shadow2">
                    <div class="imgBx">
                        <img src="assets/logos/gitlab.svg" alt="GitLab logo">
                    </div>
                    <div class="contentBx">
                        <h3> GitLab </h3>
                    </div>
                </div>
            </div>

              <!-- Skill 17 -->

          </div>
      </div>
  </section>

@code {

}
